
h1{
    color: #db8046;
}

body{
    margin: 0;
    padding: 0%;
    height: 100vh;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

img{
    width: 500px;
    height: 350px;
}
.container{
    height: 100vh ;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
a{
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    background: #db8046;
    color: white;
}